.blur{text-shadow: 2px 2px 8px aquamarine;}
h1
 {
	position: absolute;
	top: 80px;
	left: 80px;
	height: 100px;
	text-align: left;
	width: 500px;
	z-index: -1;
	border-left-style: solid;
}
.a
{
	position: absolute;
	top: 130px;
	left: 80px;
	width: 500px;	
	border-left-style: solid;
}
.a1
{
  position: absolute;
  top: 160px;
  left: 230px;
  text-align: left;
}
.a2
{
	position: absolute;
	top: 195px;
	left: 80px;
	text-align: left;
	width: 500px;	
}
.a21
{
	position: absolute;
	top: 230px;
	left: 80px;
	text-align: left;
	width: 500px;	
}
.s
{
  position: absolute;
  top: 30px;
  left: 400px;
  text-align: left;
  padding: 5px;
}
.s1
{
  position: absolute;
  top: 30px;
  right: 110px;
  text-align: left;
   padding: 5px;
}
video
{
	padding: 20px;
	border: 3px solid sienna;
	border-radius: 60px 60px/60px 60px;
	box-shadow: 5px 5px 10px 2px saddlebrown outset;
}
.h
  {
	position: absolute;
    top: 300px;
    left: 100px;
    border-style: double;
    text-indent: 3em;
    font-family: "楷体";
    size:"5";
   text-shadow: 2px 2px 8px black;
  }

.h1
{
	position: absolute;
    top: 700px;
    left: 100px;
    height: 290px;
    border-left-style: solid;
    border-right-style: dashed;
}
.h2
{
	position: absolute;
    top: 700px;
    left: 200px;
    height: 290px;
   
}
#footer
{
	width: 100%;
	height: 68px;
	line-height: 26px;
	background: darkgray;
	color: black;
	text-align: center;
	position: absolute;
	top: 100px;
	margin-top: 850px;
}
.h3
{
	position: absolute;
	left: 0px;
	font-size: 18px;
}
.t1
{
	position:absolute;
	left: 100px;
	top: 500px;
}
#l1
{
    position: absolute;
    top: 700px;
    left: 400px;
    height: 290px;
}
#l2
{
    position: absolute;
    top: 700px;
    left: 600px;
    height: 290px;
   
}
#l3
{
    position: absolute;
    top: 700px;
    left: 800px;
    height: 290px;
   
}	
.p{
    position: relative;
    width: 100%;
	height: 0px;
	background: cadetblue;
   }
.yuy
   {
   	text-decoration：none;
   	color: brown;
   }
.all
   {
   	text-decoration: none;
   	text-shadow: 0px 0px 10px red ;
   }//去除超链接的下划线
.all1
  {
   	text-decoration: none;
   	text-shadow: 0px 0px 10px sandybrown;
   }
.im
{
	width: 250px;
	height: 160px;
	transition: width 1s,height 1s,background 1s;
}
.im:hover
{
	width: 280px;
	height: 180px;
}
a:hover{background-color: darkgoldenrod;}
.b1
{
    border: 3px solid sienna;
	border-radius: 60px 60px/60px 60px;
	box-shadow: 5px 5px 10px 2px saddlebrown outset;
}
.b2
{
  position: absolute;
  top: 90px;
  left: 85px;
  text-align: left;
}
.b3
{
  position: absolute;
  top: 30px;
  left: 200px;
  text-align: left;
  border-style: dashed;
    text-indent: 3em;
    font-family: "楷体";
    size:"5";
   text-shadow: 2px 2px 8px black;
}
.b4
  {
	position: absolute;
    top: 250px;
    left: 30px;
    border-style: double;
    text-indent: 3em;
    font-family: "楷体";
    size:"5";
   text-shadow: 2px 2px 8px black;
   padding: 4px;
  }
  .b5
  {
  	border-style: none;
  }
#b6
{
	padding: 10px;
	border: 3px solid silver;
	border-radius: 60px 60px/60px 60px;
	box-shadow: 5px 5px 10px 2px saddlebrown outset;
}
.wei
{
	width: 100%;
	height: 68px;
	line-height: 26px;
	background: darkgray;
	color: black;
	text-align: center;
	position: absolute;
	top: 100px;
	margin-top: 850px;
}
.b6
{
	position: absolute;
	top: 23px;
	left: 80px;
	height: 100px;
	text-align: left;
	width: 500px;
	z-index: -1;
	border-left-style: solid;
}
